@import "tailwindcss";

@theme {
    --font-zen-kaku-gothic-new: "Zen Kaku Gothic New", sans-serif;
    --font-thasadith: "Thasadith", sans-serif;
    --font-tan-pearl: "Tan Pearl", sans-serif;
    --font-default: "Zen Kaku Gothic New", "Thasadith", sans-serif;
}

@utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@font-face {
    font-family: "Tan Pearl";
    src: url(/fonts/tan-pearl.otf) format("opentype");
    font-display: swap
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}